@include background-gradient("sky-store");

body {
	font-family: Open Sans, San-serif;
    color: rgb(57,57,59);
	font-weight: 300;
	background-color: grey;
	background-gradient: sky-store;
	margin: auto;
	-webkit-font-smoothing: antialiased;
}

.main-banner {
    height: 90px;
    background-color: white;
    margin: auto;
	height: 80px;
	z-index: 1000;
	justify-content: space-between;
    display: flex;
}

.banner-left {
  display: block;
  width: 100px;
  margin-left: 80px;
  margin-top: 10px;
}

.banner-right {
  display: block;
  width: 100px;
  margin-right: 80px;
  margin-top: 10px
}

.banner-center {
  display: block;
  width: 200px;
  margin: 0 auto;
  position: relative;
  background-position: center
}
