body {
     font-family: Open Sans, San-serif;
     color: rgb(57,57,59);
     font-weight: 300;
     background-color: #f2f2f2;
     margin: auto;
     -webkit-font-smoothing: antialiased;
}

 .main-banner {
     height: 90px;
     background-color: white;
     margin: auto;
     height: 125px;
     z-index: 1000;
     justify-content: space-between;
     display: flex;
}

 .static-featureimage {
     background-image: url(img/feature.png);
     background-size: auto;
     height: 550px;
     display: block;
     margin: auto;
     box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.1);
}

 #smallnavbar {
     position: absolute;
     right: 30px;
     top: 10px;
     visibility: visible;
     z-index: 0;
     font-size: 10px;
}

 .container-left {
     display: block;
     width: 100px;
     margin-left: 35px;
     margin-top: 50px;
}

 .container-mid {
     width: 200px;
     height: auto;
     margin: 0 auto;
     position: relative;
     background-image: url(https://cdn.freebiesupply.com/logos/large/2x/sky-4-logo-png-transparent.png);
     background-size: 50px;
     background-repeat: no-repeat;
     background-position: center 
}

 .container-right {
     width: 100px;
     margin-top: 40px;
     margin-bottom: 30px;
     margin-right: 35px;
     float: right;
     vertical-align:middle;
     display:inline;
}

 .container-right p {
     margin: 0;
     text-align: right;
}

 .header-avatar {
     border-radius: 50%;
     width: 25px;
     height: 25px;
     vertical-align: middle;
}

 .mini-comment-avatar {
     border-radius: 50%;
     width: 25px;
     height: 25px;
     vertical-align: middle;
}

 .maincontainer {
     width: 780px;
     height: 1300px;
     margin: auto;
     background-color: #ffffff;
     position: relative;
     box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
}

 footer {
     background-color: #F5F5F5;
     height: 50px;
}

 footer div {
     color: #58585b;
     vertical-align: middle;
     line-height: 50px;
     font-size: 12px;
     font-family: Open Sans, San-serif;
}

 hr {
     margin: 0;
     border: 0;
     height: 1px;
     background-image: linear-gradient(to right, rgba(130, 105, 105, 0.1), rgba(130, 105, 105, 0.1), rgba(130, 105, 105, 0.1));
}

 div.menu hr {
     margin: 5.5px;
     border: 0;
     height: 1px;
     background-color: #A6A6A6;
     width: 30px;
}

 div.menu p {
     margin: 0;
}

 .avatar {
     display: inline-block;
     vertical-align: top;
     position: relative;
     overflow: hidden;
     padding-right: 5%;
}

 .nav-bar {
     display: flex;
     align-items: center;
     justify-content: center;
}

 .nav-bar div {
     width: 100px;
     height: 50px;
     position: relative;
}

 .nav-bar div > span{
     position: absolute;
     right: 0;
     bottom: 0;
     left: 50%;
     margin-left: -50%;
}

 .collapsible {
     margin-bottom: 20px;
     background: #EBEBEB;
     border: 1px solid #CCCCCC;
     padding: 10px;
     width: 500px;
     font: 12px Arial, Helvetica, sans-serif;
     color: #333333;
}

 .collapsible button {
     height: 135px;
     float: left;
     border: 1px solid #999999;
     background: #999999;
     color: #CECECE;
     margin-left: 10px;
}

 .collapsible button:hover {
     background: #990000;
     border: 1px solid #990000;
}

 img.entertainmentPoster {
     height: 125px;
}

 .moviesContainer > div {
     word-wrap: break-word;
     display: inline-flex;
     margin-right: 5px;
}

 .movie {
     display: inline-block;
}

 .moviesContainer {
     margin: auto;
     padding: 10px;
}

 .entertainmentText {
     word-wrap: break-word;
     background-color: #D0CECE;
     height: 125px;
     width: 200px;
     display: inline-block;
     float: right;
}

 #map {
     height: 300px;
}

 div.locationIcon {
     position: relative;
     float: left;
     height: 40px;
     overflow: hidden;
     width: 40px;
     background-color: green;
     margin: 5px;
}

 div.locationMain {
     float: left;
     height: 30px;
     margin-right: 10px;
     width: 50px;
     background-color: blue;
}

 div.locationCountry {
     clear: right;
     height: 30px;
     width: 100px;
     margin-top: 10px;
     background-color: red;
}

 ::-webkit-scrollbar {
     display: none;
}




 .rectangle{
    display: block;
    height: 176px;
    width: 11px;
    background: #734386;
    position: relative;
    top: 7px;
}


 .topcircle {
    background: white;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    position: absolute;
    box-shadow: 0 0 0 5px #734386;
    margin-left: 0px;
    top: -7px;
}

 .bottomcircle {
    background: white;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    position: absolute;
    box-shadow: 0 0 0 5px #734386;
    margin-left: 0px;
    top: 172px;
}

 .dividercircle {
    background: #C4C4C4;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    box-shadow: 0 0 0 0px #C4C4C4;
    margin-left: 100px;
    margin-top: 10px;
}

.row {
    display: table;
}

.col {
    display: table-cell;
    vertical-align: middle;
}

.flightinfo {
    line-height: 1;
    display: table-cell;
    vertical-align: middle; 
}

.flightinfotext {
    width: 150px;
    line-height: 1;
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle; 
}


h2.acc_trigger {
    margin: 40px 20px;
}

h2.acc_trigger a {
    color: #222;
    text-decoration: none;
    display: block;
    padding: 0 0 0 0px;
}

.acc_container {
    margin: 0 0 5px;
    padding: 0;
    overflow: hidden;
    font-size: 1.2em;
    clear: both;
    background: #f0f0f0;
    border-top:none;
}
.acc_container .block {
    padding: 20px 20px 35px 20px;
}

table, td, th {
    border: 0px solid black;
    text-align: left;
    font-size: 14px;
    valign: middle;
}

table p {
    text-align: left; 
    vertical-align: middle;
    margin: 0;
}

tr {
     height: 65px;
}

p.price {
    text-align: center;
    margin: 0;
}

 .blackdot1 {
    background: #292929;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    position: absolute;
    margin-left: 0px;
    top: 44px;
}

 .blackdot2 {
    background: #292929;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    position: absolute;
    margin-left: 200px;
    top: 44px;
}

