<!doctype html>
<html lang="en">

  <head>
    <script src="node_modules/angular/angular.js"></script>

    <script src="controllers/myApp.js"></script>
    <script src="controllers/MapCtrl.js"></script>
    <script src="controllers/FeedCtrl.js"></script>
    <script src="controllers/meetUpCtrl.js"></script>


    <!-- Angular Material requires Angular.js Libraries -->
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>

      <!-- Angular Material Library -->
      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <!-- <script data-require="angularjs@1.3.14" data-semver="1.3.14" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"> -->

    <link rel="stylesheet" type="text/css" href="css/fontawesome-all.css">
    <link rel="stylesheet" href="https://www.sky.com/assets/toolkit/v2.26.1/toolkit.min.css">
    <link rel="stylesheet" type="text/css" href="css/mymapStyle.css">
    <meta charset="utf-8">
    <title>My Map</title>
    <base href=".">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <style>
      li { display: inline-block; }
      </style>

  </head>

  <header>
    <div class ="main-banner">
      <div class="banner-left">
        <img src="images/skylogo.png" height="60">
      </div>

      <div class="banner-center">
        <img src="images/mymapLogo.png" height="60">
      </div>

      <div class="banner-right">
        <div ng-app="myApp" ng-controller="MapCtrl">
          <h1>{{ user }}  {{ userRank }}</h1>
          <div ng-app="myApp" ng-controller="MapCtrl">
          <button ng-click="myFunc()">tesy</button>
        </div>
        </div>
      </div>


    </div>
  </header>

  <body ng-app='myApp'>

  <div ng-controller='MapCtrl' class="o-layout o-layout--center u-padding-all-large">
    <div data-ng-init="onbeforeunload()">
      <article class="c-tile">
      <div class="c-tile__content">
        <div class="c-tile__body">

          <canvas id="myCanvas" width="1170" height="660">

          <img id="map" src="images/map.png" alt="The Map" class="map">
          <img id="pin" src="images/pin.png" alt="The pin" class="pins">

       </div>
      </div>
    </div>
  </article>

  <nav class="menu">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="c-btn c-link u-margin-all-large" href="#!/mainFeed">My Friend Feed</a></li>
          <li><a class="c-btn c-link u-margin-all-large" href="#!/meetUp">Meet Up</a></li>
        </ul>
    </div>
  </nav>

  <div class="container">
  	<div class="row">
           <div class="col-md-12">
  			<div ng-view></div>
  		</div>
  	</div>
  </div>

  <script src="controllers/myApp.js"></script>
  <script src="controllers/FeedCtrl.js"></script>
  <script src="controllers/meetUpCtrl.js"></script>
  <script src="controllers/MapCtrl.js"></script>


  </body>
</html>
