<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="https://www.sky.com/assets/toolkit/v2.26.1/toolkit.min.css">
</head>
<body>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>


<div  align="center">
  <div ng-repeat="user in records">
<article class="c-tile u-width-4/6">
  <div class="c-tile__content">
    <div class="c-tile__body">
      <div ng-app="MyApp" ng-controller="FeedCtrl">
      <pre align="left" class="c-text-body">{{ user.first_name }} {{ user.last_name }}- {{ user.Rank }} - <a ng-init="imgsrc={
          src: 'images/theirMap.png',
          show: false,
        };"><span class="c-btn c-link" ng-mouseover="imgsrc.show = true" ng-mouseout="imgsrc.show = false">Show Map</span>
        <img ng-src="{{ imgsrc.src }}" ng-show="imgsrc.show" /></a><br><i align="left">{{ user.Place }}</i><br>
        <p align="left">{{ user.Review }}</p>
    </pre>
      <img src="{{ user.Image }}" style="width:500px">
    </div>
  </div>
  </div>
</article>
</div>

</div>
</body>
