<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="https://www.sky.com/assets/toolkit/v2.26.1/toolkit.min.css">
</head>
<body>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>

<div class="o-layout">
  <div ng-repeat="x in records">
  <div  align="center" class="o-layout__item u-width-1/1 u-width-1/2@large u-padding-all-small">
    <article class="c-tile">
      <div class="c-tile__content">
        <div class="c-tile__body">
          <div ng-app="myApp" ng-controller="meetUpCtrl">
          <pre align="left" class="c-text-body">{{ x }} - Explorer rank</pre>
          <a ng-init="imgsrc={
              src: 'images/theirMap.png',
              show: false,
            };">
            <span class="c-btn c-link" ng-mouseover="imgsrc.show = true" ng-mouseout="imgsrc.show = false">
              Show Map
            </span>
            <img ng-src="{{ imgsrc.src }}" ng-show="imgsrc.show" />
          </a>
          <p align="left" <i>2km away</i></p>
          <br>
          <p align="left">Travelling with one adult.</p>
          <p align="left">Looking to go sight seeing together.</p>
        </div>
        </div>
    </div>
    </article>
</div>
</div>



</div>
</body>
